@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
body {
  width: 100%;
  height: 100%;
  font-family: 'lobster Two', cursive;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(75, 75, 75);
  padding-left: 0em;
  margin-left: 0em;
}

/* label color */

.input-field label {
  color: #6C63FF;
}

/* label focus color */

.input-field input[type=email]:focus+label {
  color: #6C63FF;
}

/* label underline focus color */

.input-field input[type=email]:focus {
  border-bottom: 1px solid #6C63FF;
  box-shadow: 0 1px 0 0 #6C63FF;
}

/* valid color */

.input-field input[type=email].valid {
  border-bottom: 1px solid #6C63FF;
  box-shadow: 0 1px 0 0 #6C63FF;
}

.input-field input[type=password].valid {
  border-bottom: 1px solid #6C63FF;
  box-shadow: 0 1px 0 0 #6C63FF;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid #6C63FF;
  box-shadow: 0 1px 0 0 #6C63FF;
}

/* icon prefix focus color */

.input-field .prefix {
  color: #6C63FF;
}